body {
    padding: 40px;
}

.like {
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    transition: background 0.3s;
}

/* .like:hover {
    background: #f5f5f5;
} */

.like [type="checkbox"] {
    display: none;
}

.heart {
    font-size: 100px;
    color: #e4e4e4;
    user-select: none;
    position: relative;
    top: 2px;
}

.like [type="checkbox"]:checked~.heart {
    animation-name: heart;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

@keyframes heart {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1, 1);
    }
    100% {
        transform: scale(1);
        color: red;
    }
}

.ripple {
   position: absolute;
   width: 200px;
   height: 200px;
   background: red;
   border-radius: 50%;
   transform: scale(0);

}

.like [type="checkbox"]:checked~.ripple {
    animation-name: ripple;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

@keyframes ripple {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1, 1);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

canvas {
  background: #fff;
}
